{% extends 'theme.html' %}

{% block content %}
<form action="update" method="post">
                        {% csrf_token %}
            <table align="center">
                <tr>
                    <td align="left">First Name:&nbsp</td>
                    <td><input type="text" name="first_name" placeholder="First Name" required="True"></td></tr>

                <tr>
                    <td align="left">Last Name:&nbsp</td>
                    <td><input type="text" name="last_name" placeholder="Last Name" required="True"></td></tr>


                    <td align="left">Phone Number:&nbsp</td>
                    <td><input type="number" name="phoneno" placeholder="Phone no" required="True"></td></tr>

                <tr>
                    <td align="left">Address:&nbsp</td>
                    <td><input type="text" name="address" placeholder="Address" required="True">  </td></tr>

            </table><br>
 <input type="submit" value="Submit">
        </form>
{% endblock %}