<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RealCoderZwebapp</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>officetask.html</welcome-file>
    <welcome-file>register.html</welcome-file>
    <welcome-file>details.html</welcome-file>
  </welcome-file-list>
 
      
   	<context-param>
		<param-name>log4j-config-location</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>


     
  <servlet>
    <servlet-name>guestServlet</servlet-name>
    <servlet-class>com.realcoderz.registration.controller.guestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestServlet</servlet-name>
    <url-pattern>/guesttasks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.realcoderz.registration.controller.userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.realcoderz.registration.controller.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>taskServlet</servlet-name>
    <servlet-class>com.realcoderz.registration.controller.taskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taskServlet</servlet-name>
    <url-pattern>/task</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showtasksServlet</servlet-name>
    <servlet-class>com.realcoderz.registration.controller.showtasksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showtasksServlet</servlet-name>
    <url-pattern>/showtask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>com.realcoderz.registration.controller.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deletetask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.realcoderz.registration.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/updatetask</url-pattern>
  </servlet-mapping>
</web-app>