* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div.container {
  position: absolute;
  top: 18%;
  left: 26%;
  width: 900px;
  height: 600px;
  border-radius: 20px;
  /* background-color: #9cc0ba; */
  background-image: linear-gradient(170deg, #e55d87, #5fc3e4);
  box-shadow: 10px 10px 50px;
}

nav.navbar {
  background-color: #9d59d6;
  border-bottom: 1px solid black;
}

div#left {
  width: 350px;
  height: 600px;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid black;
}

div#left h3 {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  color: #d90368;
}

div#one label {
  margin-left: 100%;
  font-size: 20px;
  white-space: nowrap;
  margin-top: 10px;
}
div#one input {
  width: 100px;
  margin-left: 97%;
}

div#two label {
  margin-left: 50px;
  font-size: 20px;
}
div#two input {
  width: 200px;
  margin-left: 10px;
}
input[type="text"]::placeholder {
  text-align: center;
}

div#three {
  position: absolute;
  white-space: nowrap;
  top: 24%;
  left: 76.5%;
}
div#three label {
  margin-left: 10px;
  font-size: 20px;
}
div#three input {
  width: 200px;
}

div#four label {
  margin-top: 25px;
  margin-left: 45px;
  font-size: 20px;
}
div#four input {
  width: 200px;
  margin-left: 10px;
}

div#five label {
  font-size: 20px;
  margin-left: 30px;
}

div#five {
  position: absolute;
  left: 82%;
  top: 51%;
}

select {
  border: 2px solid black;
  height: 35px;
  width: 120px;
  text-align: center;
}

select:hover{
  background-color: #036ac2;
}

div#six label {
  margin-left: 50%;
  font-size: 20px;
  margin-top: -5px;
}
div#six input {
  width: 150px;
  margin-left: 44%;
}

hr.line {
  border-top: 6px solid black;
  width: 122%;
  margin-bottom: 30px;
  margin-top: 20px;
}

button.btn-primary {
  margin-top: 30px;
  margin-left: 51%;
  width: 95px;
  background-color: black;
  border: 2px solid white;
}

button.btn:hover {
  background-color: #036ac2;
  border: 2px solid black;
}

input.form-control {
  border: 2px solid black;
  text-align: center;
}
label.form-label {
  font-weight: bold;
}
