* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div#menu {
  /* background-color: #a5c4d4; */
  background-image: linear-gradient(170deg, #e55d87, #5fc3e4);
  margin-left: 24%;
  margin-top: 7%;
  width: 900px;
  height: 600px;
  border-radius: 20px;
}

div#tag {
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: white;
  border: 2px solid black;
  border-right: 0px;
  width: 450px;
  height: 600px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 55%;
  font-weight: bold;
  font-size: 50px;
  color: #d90368;
}

li.nav-item a.nav-link {
  font-weight: bold;
}

#buttons {
  margin-top: 45%;
}

button.btn {
  margin-left: 22%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  width: 250px;
  border: 2px solid black;
  font-weight: 800;
}

button.btn:hover {
  background-color: black;
  color: white;
}

nav.navbar {
  background-color: #9d59d6;
  border-bottom: 1px solid black;
}
