<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'Form.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>HR Login</title>
    <style>
    body{
        background: white;
    }

    </style>
</head>
<body>
<div class="containerDiv">
    <div class="title">HR Login</div>
    <div class="content">
        <form action="login" method="post">

            {% csrf_token %}

            <div class="user-details">
                <div class="input-box">
                    <span class="details">User ID</span>
                    <input type="text" placeholder="Enter HR login ID" name="id" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter password" name="password" required>
                </div>
            </div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="button">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
</body>
</html>
